## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Teacher' Talk")}</%block>
<style type="text/css">
	.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<div class="page-heading">
    <h1>${_("Teacher's Talk")}</h1>
</div>
<section class="static-content">
    <div class="grid-manual grid-container">
        <div class="inner-container">
            <div class="row">
            	<div class="col col-12 sm-col-12 videoWrapper">
                <iframe width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=PLCIhvS7-KhrEjaY7uJ8DUb1LqNLtE69yx" frameborder="0" allowfullscreen>
                	</div>
            </div>
        </div>
    </div>
</section>
